body{
    margin: 0;
    background-color: antiquewhite;
}
h1{
    color:rgb(66, 42, 7);
    font-size: 40px;
}
footer{
    padding: 20px;
    background-color: rgb(82, 61, 29);
    color: bisque;
    text-align: center;
}